In [ ]:
# Test AI vector search in oracle database + langchain 
# connect to db: pip install oracledb
# using juypter notebook extension + ipykernal extension

# import packages required
import sys
import oracledb

In [37]:
# Connect to the database with SYSDBA privileges
# Make sure to have a user account inside the database - {user: aiuser, pwd: pass1234}
# docker container has oracle database 23ai
# In bash, use -> sqlplus aiuser@localhost:1521/FREEPDB1 (pwd: pass1234), but use port 1522 for dsn as docker container is mapped by 1522:1521

try:
    conn = oracledb.connect(
        user="aiuser",
        password="pass1234",
        dsn="localhost:1522/FREEPDB1",
        #mode=oracledb.AUTH_MODE_SYSDBA # this would require user to have dba privilleges
    )
except Exception as e:
    print("Connection failed!")
    sys.exit(1)

In [ ]:
# test query
cursor = conn.cursor()
cursor.execute("select * from dual")

# See result of query
for row in cursor:
    print(row)

# Close DB connections
cursor.close()
conn.close()

# print hello world
print()

('X',)

In [30]:
cursor = conn.cursor()

drop_table_sql = """drop table demo_tab"""
cursor.execute(drop_table_sql)

create_table_sql = """create table demo_tab (id number, data clob)"""
cursor.execute(create_table_sql)

insert_row_sql = """insert into demo_tab values (:1, :2)"""
rows_to_insert = [
    (
        1,
        "If the answer to any preceding questions is yes, then the database stops the search and allocates space from the specified tablespace; otherwise, space is allocated from the database default shared temporary tablespace.",
    ),
    (
        2,
        "A tablespace can be online (accessible) or offline (not accessible) whenever the database is open.\nA tablespace is usually online so that its data is available to users. The SYSTEM tablespace and temporary tablespaces cannot be taken offline.",
    ),
    (
        3,
        "The database stores LOBs differently from other data types. Creating a LOB column implicitly creates a LOB segment and a LOB index. The tablespace containing the LOB segment and LOB index, which are always stored together, may be different from the tablespace containing the table.\nSometimes the database can store small amounts of LOB data in the table itself rather than in a separate LOB segment.",
    ),
]
cursor.executemany(insert_row_sql, rows_to_insert)

conn.commit()

print("Table created and populated.")
cursor.close()

DatabaseError: ORA-00942: table or view "AIUSER"."DEMO_TAB" does not exist
Help: https://docs.oracle.com/error-help/db/ora-00942/